# fallback match
* @junlin-luo-spacemit @jing-liu-spacemit

# Introduction/Overview
/zh/root_overview.md @jing-liu-spacemit
/en/root_overview.md @jing-liu-spacemit

# Tools
/zh/tools.md @jing-liu-spacemit
/en/tools.md @jing-liu-spacemit

# Images
/zh/**/image.md @jing-liu-spacemit
/en/**/image.md @jing-liu-spacemit

# Release notes
/**/release_notes/ @jing-liu-spacemit

# ESOS dev guide
/zh/**/esos/esos_dev_guide.md @ljysy @LittlepigNellJ
/en/**/esos/esos_dev_guide.md @ljysy @LittlepigNellJ

# ESOS drivers
/zh/**/esos/esos_driver/gpio.md @LittlepigNellJ @TroyMitchell911
/en/**/esos/esos_driver/gpio.md @LittlepigNellJ @TroyMitchell911

/zh/**/esos/esos_driver/pwm.md @LittlepigNellJ @TroyMitchell911
/en/**/esos/esos_driver/pwm.md @LittlepigNellJ @TroyMitchell911

/zh/**/esos/esos_driver/pinctrl.md @george-hu-spacemit @TroyMitchell911
/en/**/esos/esos_driver/pinctrl.md @george-hu-spacemit @TroyMitchell911

/zh/**/esos/esos_driver/i2c.md @yhd0727 @yeshan-li-spacemit
/en/**/esos/esos_driver/i2c.md @yhd0727 @yeshan-li-spacemit

/zh/**/esos/esos_driver/spi.md @ljysy @peixin-xie-spacemit
/en/**/esos/esos_driver/spi.md @ljysy @peixin-xie-spacemit

/zh/**/esos/esos_driver/rtimer.md @ljysy @LittlepigNellJ
/en/**/esos/esos_driver/rtimer.md @ljysy @LittlepigNellJ

/zh/**/esos/esos_driver/rcan.md @LittlepigNellJ @yhd0727
/en/**/esos/esos_driver/rcan.md @LittlepigNellJ @yhd0727

/zh/**/esos/esos_driver/ruart.md @yhd0727 @TroyMitchell911
/en/**/esos/esos_driver/ruart.md @yhd0727 @TroyMitchell911

/zh/**/esos/esos_driver/rgmac.md @george-hu-spacemit
/en/**/esos/esos_driver/rgmac.md @george-hu-spacemit

# Device Management
/zh/**/device/device_management.md @jing-liu-spacemit
/en/**/device/device_management.md @jing-liu-spacemit

# Solution Management 
/zh/**/device/solution_management.md @jing-liu-spacemit
/en/**/device/solution_management.md @jing-liu-spacemit

# Boot Guide
/zh/**/device/boot.md @zhouxl756 @GM2020JLU
/en/**/device/boot.md @zhouxl756 @GM2020JLU

# Standby
/zh/**/device/standby.md @kevin-zhm @LittlepigNellJ
/en/**/device/standby.md @kevin-zhm @LittlepigNellJ

# Product Line Tool
/zh/**/device/plt.md @jing-liu-spacemit
/en/**/device/plt.md @jing-liu-spacemit

# peripheral drivers

/zh/**/device/peripheral_driver/01-PINCTRL.md @george-hu-spacemit @TroyMitchell911
/en/**/device/peripheral_driver/01-PINCTRL.md @george-hu-spacemit @TroyMitchell911

/zh/**/device/peripheral_driver/02-GPIO.md @george-hu-spacemit @TroyMitchell911
/en/**/device/peripheral_driver/02-GPIO.md @george-hu-spacemit @TroyMitchell911

/zh/**/device/peripheral_driver/03-PWM.md @yhd0727 @TroyMitchell911
/en/**/device/peripheral_driver/03-PWM.md @yhd0727 @TroyMitchell911

/zh/**/device/peripheral_driver/04-IR-RX.md @LittlepigNellJ @yhd0727
/en/**/device/peripheral_driver/04-IR-RX.md @LittlepigNellJ @yhd0727

/zh/**/device/peripheral_driver/05-UART.md @yhd0727 @TroyMitchell911
/en/**/device/peripheral_driver/05-UART.md @yhd0727 @TroyMitchell911

/zh/**/device/peripheral_driver/06-I2C.md @yhd0727 @yeshan-li-spacemit
/en/**/device/peripheral_driver/06-I2C.md @yhd0727 @yeshan-li-spacemit

/zh/**/device/peripheral_driver/07-QSPI.md @ljysy @peixin-xie-spacemit
/en/**/device/peripheral_driver/07-QSPI.md @ljysy @peixin-xie-spacemit

/zh/**/device/peripheral_driver/08-SDHC.md @ljysy
/en/**/device/peripheral_driver/08-SDHC.md @ljysy

/zh/**/device/peripheral_driver/09-GAMC.md @george-hu-spacemit
/en/**/device/peripheral_driver/09-GAMC.md @george-hu-spacemit

/zh/**/device/peripheral_driver/10-USB/ @rzbdz
/en/**/device/peripheral_driver/10-USB/ @rzbdz

/zh/**/device/peripheral_driver/11-PCIe.md @george-hu-spacemit @yeshan-li-spacemit
/en/**/device/peripheral_driver/11-PCIe.md @george-hu-spacemit @yeshan-li-spacemit

/zh/**/device/peripheral_driver/12-Display.md @lanzreal
/en/**/device/peripheral_driver/12-Display.md @lanzreal

/zh/**/device/peripheral_driver/13-V2D.md @lanzreal
/en/**/device/peripheral_driver/13-V2D.md @lanzreal

/zh/**/device/peripheral_driver/14-PMIC.md @LittlepigNellJ @yhd0727
/en/**/device/peripheral_driver/14-PMIC.md @LittlepigNellJ @yhd0727

/zh/**/device/peripheral_driver/15-CAN.md @LittlepigNellJ @yhd0727
/en/**/device/peripheral_driver/15-CAN.md @LittlepigNellJ @yhd0727

/zh/**/device/peripheral_driver/15-Cpufreq.md @kevin-zhm @LittlepigNellJ
/en/**/device/peripheral_driver/15-Cpufreq.md @kevin-zhm @LittlepigNellJ

/zh/**/device/peripheral_driver/16-Clock.md @kevin-zhm @weijinmei
/en/**/device/peripheral_driver/16-Clock.md @kevin-zhm @weijinmei

/zh/**/device/peripheral_driver/17-Audio.md @kevin-zhm @weijinmei
/en/**/device/peripheral_driver/17-Audio.md @kevin-zhm @weijinmei

/zh/**/device/peripheral_driver/18-CRYPTO.md @ljysy @yhd0727
/en/**/device/peripheral_driver/18-CRYPTO.md @ljysy @yhd0727

/zh/**/device/peripheral_driver/21-DMA.md @yhd0727 @yeshan-li-spacemit
/en/**/device/peripheral_driver/21-DMA.md @yhd0727 @yeshan-li-spacemit

/zh/**/device/peripheral_driver/22-EtherCAT.md @george-hu-spacemit
/en/**/device/peripheral_driver/22-EtherCAT.md @george-hu-spacemit

/zh/**/device/peripheral_driver/23-WDT.md @LittlepigNellJ @yhd0727
/en/**/device/peripheral_driver/23-WDT.md @LittlepigNellJ @yhd0727

/zh/**/device/peripheral_driver/BT.md @kevin-zhm
/en/**/device/peripheral_driver/BT.md @kevin-zhm

/zh/**/device/peripheral_driver/ddr.md @zhouxl756
/en/**/device/peripheral_driver/ddr.md @zhouxl756

/zh/**/device/peripheral_driver/gpadc.md @LittlepigNellJ @yhd0727
/en/**/device/peripheral_driver/gpadc.md @LittlepigNellJ @yhd0727

/zh/**/device/peripheral_driver/rtc.md @LittlepigNellJ @yhd0727
/en/**/device/peripheral_driver/rtc.md @LittlepigNellJ @yhd0727

/zh/**/device/peripheral_driver/SPI.md @ljysy @peixin-xie-spacemit
/en/**/device/peripheral_driver/SPI.md @ljysy @peixin-xie-spacemit

/zh/**/device/peripheral_driver/thermal.md @kevin-zhm @LittlepigNellJ
/en/**/device/peripheral_driver/thermal.md @kevin-zhm @LittlepigNellJ

/zh/**/device/peripheral_driver/WIFI.md @george-hu-spacemit
/en/**/device/peripheral_driver/WIFI.md @george-hu-spacemit

# Camera
/zh/**/camera/ @qiang-fu-spacemit @haodong-xu-spacemit
/en/**/camera/ @qiang-fu-spacemit @haodong-xu-spacemit

# Media
/zh/**/media/ @qiang-fu-spacemit @binghan-meng-spacemit
/en/**/media/ @qiang-fu-spacemit @binghan-meng-spacemit

/zh/**/media/mpp/05-CPP_ISP_MIPI-CSI.md @qiang-fu-spacemit @haodong-xu-spacemit
/en/**/media/mpp/05-CPP_ISP_MIPI-CSI.md @qiang-fu-spacemit @haodong-xu-spacemit

# Graphics
/zh/**/graphics/AMD_graphics_card_adaptation_reference.md @xiaoguorou @yeshan-li-spacemit
/en/**/graphics/AMD_graphics_card_adaptation_reference.md @xiaoguorou @yeshan-li-spacemit

/zh/**/graphics/ @xiaoguorou
/en/**/graphics/ @xiaoguorou

/zh/**/graphics/panel_porting_guide.md @lanzreal
/en/**/graphics/panel_porting_guide.md @lanzreal

# Kernel Debug
/zh/**/kernel_debug/ @ljysy @yeshan-li-spacemit
/en/**/kernel_debug/ @ljysy @yeshan-li-spacemit

# FAQ
/zh/faqs.md @jing-liu-spacemit
/en/faqs.md @jing-liu-spacemit
